@{
    ViewData["Title"] = "About";
}

      <table border="1">
         <caption>
            <h2>Захарова Евгения Николаевна</h2>
         </caption>
         <tr>
            <td>
				<p>
					МКН, ДВФУ, первый курс, а остальное вам знать необязательно, поэтому я просто вставлю отрывок из своей старой работы:
				</p>
				<p><i>«Тонкая, изящная мелодия льётся из-под длинных белых пальцев, рисуя узоры, отпечатывается в сознании. Музыкант играет без нот и подсказок, безошибочно находя клавиши. Ни малейшей фальши, будто робот. Но нет, никакая машина не сможет играть так. Настолько прочувствованно и вдохновлённо, что сердце слушателя невольно замирает.
				<br>
				<br>Повинуясь сложной музыке, комната преображается. От огромного фортепиано идут импульсы, колеблющие холодный воздух. Музыка становится торжественной, а небольшое помещение увеличивается в десятки раз. Такой музыкант достоин самого лучшего зала.
				<br>
				<br>Старые обои опадают вниз, обнажая тёмный камень, паутина превращается в красные узоры на потолке, а вокруг одинокой лампы повисают гирлянды из хрусталя. Стены отодвигаются, вместо них из густого фиолетового тумана выплывают чёрные кресла с сидящими в них Тенями. Лица прикрывают белоснежные маски.
				<br>
				<br>Музыкант делает паузу и поворачивается в сторону зала.
				<br>
				<br>Нет больше той маленькой, грязной комнаты, когда-то служившей ему домом. Теперь это роскошный концертный зал. Тот, который заслуживает услышать его игру. Сверкают тысячи свечей, тяжёлые, бордовые шторы закрывают окна, а призрачные дамы грациозно обмахиваются веерами из нанизанных на паутину алмазов».
			    </i></p>
				<table align="center">
					<caption><b>Я люблю:</b></caption>
					<tr>
                     <td>
                        <ul type="disc">
                           <li>Когда надо делать одно задание, а не четыре</li>
                           <li>Ложиться спать вовремя</li>
                           <li>Немецкую рок-музыку</li>
                        </ul>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>