@{
    ViewData["Title"] = "Home Page";
}
<br>
<p align="center">Книга мертва
<br>Она не цветы, не трава, и ей не нужно дышать.
<br>В книге — душа?
<br>
<br>Книга пуста.
<br>Расставив всё по местам, скажи: много ль в книге-то лиц?
<br>Сотни страниц.
<br>
<br>Книга лежит.
<br>Она без души, она — пустой переплёт.
<br>Она не живёт.
<br>
<br>Книга мертва.
<br>В ней нет волшебства.
<br>Она пылится на полке, пылится, в общем, без толку.
<br>
<br>Книга мертва.
<br>В ней нет ни любви, ни науки,
<br>Она не спасает от скуки.
<br>Она не искусство.
<br>Но только пока.
<br>
<br>Возьми её в руки.
<br>Чувствуешь?
<br>Книга жива.</p>

<p align="right"><cite>Хана Вишнёвая</cite></p>

<div align="center">			   
	<img src="~/images/banner3.svg"/>
</div>